# Environnement Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Fichiers Django et base locale
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Fichiers IDE / Éditeur
.vscode/
.idea/
*.swp