{% extends 'website/base_dashboard.html' %}

{% block title %}Modifier {{ ecole.nom }}{% endblock %}
{% block page_title %}Modifier les informations de l'école{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm border-0 rounded-4">
            <div class="card-header bg-white">
                <h5 class="mb-0">
                    <i class="fas fa-edit me-2 text-primary"></i>
                    Informations générales
                </h5>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Nom de l'école *</label>
                            {{ form.nom }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Logo</label>
                            {{ form.logo }}
                            {% if ecole.logo %}
                                <div class="mt-2">
                                    <img src="{{ ecole.logo.url }}" width="80" class="rounded-circle">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Bannière / Couverture</label>
                        {{ form.banniere }}
                        {% if ecole.banniere %}
                            <div class="mt-2">
                                <img src="{{ ecole.banniere.url }}" width="200" class="rounded">
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Description *</label>
                        {{ form.description }}
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Email de contact *</label>
                            {{ form.email }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Téléphone *</label>
                            {{ form.telephone }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Ville *</label>
                            {{ form.ville }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Pays *</label>
                            {{ form.pays }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Quartier</label>
                            {{ form.quartier }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Numéro d'agrément</label>
                        {{ form.numero_agrement }}
                    </div>
                    
                    <h5 class="mt-4 mb-3">Réseaux sociaux</h5>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Facebook</label>
                            <input type="url" name="facebook" class="form-control" value="{{ ecole.facebook|default:'' }}" placeholder="https://facebook.com/votre-ecole">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Twitter</label>
                            <input type="url" name="twitter" class="form-control" value="{{ ecole.twitter|default:'' }}" placeholder="https://twitter.com/votre-ecole">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Instagram</label>
                            <input type="url" name="instagram" class="form-control" value="{{ ecole.instagram|default:'' }}" placeholder="https://instagram.com/votre-ecole">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">YouTube</label>
                            <input type="url" name="youtube" class="form-control" value="{{ ecole.youtube|default:'' }}" placeholder="https://youtube.com/c/votre-ecole">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">LinkedIn</label>
                            <input type="url" name="linkedin" class="form-control" value="{{ ecole.linkedin|default:'' }}" placeholder="https://linkedin.com/company/votre-ecole">
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'dashboard' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left me-1"></i>Annuler
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save me-1"></i>Enregistrer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}